/*#region Var*/
:root {
    --background-trial: rgba(180, 208, 231, 1);
    --button-color: rgba(0, 97, 255, 1);
    --dropbox-business: rgba(98, 19, 58, 1);
    --logo-designit: rgba(162, 211, 155, 1);
    --logo-asu: rgba(97, 8, 43, 1);
    --logo-uf: rgba(0, 147, 206, 1);
    --logo-topps: rgba(255, 28, 28, 1);
    --large-logo-designit: rgba(245, 245, 245, 1);
    --logo-wbr: rgba(213, 0, 31, 1);
    --logo-hearst: rgba(180, 208, 231, 1);
    --logo-lonely-planet: rgba(13, 36, 129, 1);
    --logo-cco: rgba(255, 216, 48, 1);


    --lighter-color: white;
    --light-color: gray;
    --dark-color: black;
}

/*#endregion Var*/

/*#region Utilities*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.relative {
    position: relative;

}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

/*Width*/
.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66%;
}

.col-12 {
    width: 100%;
}

.m-auto {
    margin: auto
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.xl-container {
    width: 100%;
}

.large-container {
    width: 50%;
}

.small-container {
    width: 30%;
}

.button {
    background-color: var(--button-color);
    color: var(--lighter-color);
    border-radius: 3px;
    border: 0;
}

/*/Width*/

/*#endregion Utilities*/
/*#region Header*/
#site-header {
    width: 100vw;
}

.header-container {
    padding: 10px;

}

.header-container,
.header-left-content,
.header-right-content {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.header-left-content,
.header-right-content {
    gap: 3rem;
}

.header-container a[href*='#'] {
    text-decoration: none;
    color: var(--dark-color);
}

.start-button {
    padding: 2px 20px;
    text-align: center;
}



/*#endregion Header*/
/*#region Main*/
#site-main {
    width: 100vw;
}


.trial-container {
    background-color: var(--background-trial);
    width: 100%;
}

/*TRIAL CONTAINER TOP*/

.trial-container-top>h1 {
    text-align: start;
    font-size: 3rem;
}

/*TRIAL CONTAINER BOTTOM*/

.jumbo-bottom {
    justify-content: flex-start;
    position: relative;
}

/*LEFT*/

.free-trial-button {
    padding: 5px 10px;
    margin: 20px 0;
}

.left-trial-container-bottom a[href*='#'] {
    text-decoration: none;
    color: var(--dark-color);
}

.jumbo-left {
    flex-direction: column;
    flex-wrap: wrap;

}



.icon {
    font-size: 2rem;
    margin-top: 50px;
    padding: 5px 0;
}

/*RIGHT*/
.jumbo-right {
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    bottom: 30%;
}

.trial-container-img {
    position: relative;
}

.jumbo-right img[alt='Client Proposal'] {
    width: 600px;
    bottom: -300;


}

/*#endregion Main*/
/*#region Footer*/
/*#endregion Footer*/