/*#region Var*/
:root {
    --background-trial: rgba(180, 208, 231, 1);
    --button-color: rgba(0, 97, 255, 1);
    --dropbox-business: rgba(98, 19, 58, 1);
    --logo-designit: rgba(162, 211, 155, 1);
    --logo-asu: rgba(97, 8, 43, 1);
    --logo-uf: rgba(0, 147, 206, 1);
    --logo-topps: rgba(255, 28, 28, 1);
    --large-logo-designit: rgba(245, 245, 245, 1);
    --logo-wbr: rgba(213, 0, 31, 1);
    --logo-hearst: rgba(180, 208, 231, 1);
    --logo-lonely-planet: rgba(13, 36, 129, 1);
    --logo-cco: rgba(255, 216, 48, 1);


    --lighter-color: white;
    --light-color: gray;
    --dark-color: black;
}

/*#endregion Var*/

/*#region Utilities*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.relative {
    position: relative;

}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

/*Width*/
.col-4 {
    width: calc((100%/12) *4);
}

.col-6 {
    width: calc((100% / 12)* 6);
}

.col-8 {
    width: calc((100% / 12)* 8);
}

.col-12 {
    width: 100%;
}

.m-auto {
    margin: auto
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.xl-container {
    width: 100%;
}

.large-container {
    width: 70%;
}

.small-container {
    width: 50%;
}

.button {
    background-color: var(--button-color);
    color: var(--lighter-color);
    border-radius: 3px;
    border: 0;
    padding: 2px 20px;
    text-align: center;
}

li {
    margin: 20px 0;
}

.section-separator {
    margin-bottom: 100px;
}

/*/Width*/

/*#endregion Utilities*/
/*#region Header*/
#site-header {
    width: 100vw;
}

.header-container {
    padding: 10px;

}

.header-container,
.header-left-content,
.header-right-content {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.header-left-content,
.header-right-content {
    gap: 3rem;
}

.header-container a[href*='#'] {
    text-decoration: none;
    color: var(--dark-color);
}


/*#endregion Header*/
/*#region Main*/
#site-main {
    width: 100vw;
}


.trial-container {
    background-color: var(--background-trial);
    width: 100%;
}

/*TRIAL CONTAINER TOP*/

.trial-container-top>h1 {
    text-align: start;
    font-size: 4rem;
}

/*TRIAL CONTAINER BOTTOM*/

.jumbo-bottom {
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}

/*LEFT*/

.free-trial-button {
    padding: 10px;
    margin: 20px 0;
    width: 200px;
}

.jumbo-left>p {
    font-size: 1.2rem;
}

.left-trial-container-bottom a[href*='#'] {
    text-decoration: none;
    color: var(--dark-color);
}

.jumbo-left {
    flex-direction: column;

}

.icon {
    font-size: 2rem;
    margin-top: 50px;
    padding: 5px 0;
}

/*RIGHT*/
.jumbo-right {
    position: absolute;
    width: 75%;
    margin-left: 25%;
}

.trial-container-img {
    width: 80%;
}

.jumbo-right img[alt='Client Proposal'] {
    width: 900px;
    left: 10%;

}

/*/trial-container*/
.plans-container {
    padding-top: 80px;
}

.plans-container h2 {
    font-size: 2rem;
    padding: 20px 0;
}

.plans-container .sub {
    margin-right: 50px;
}

/*CARD*/
.card-container {
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-color);
    margin: 0 10px;
    /* #site-main è 100vw.
    avevo dato il .small-container che dà il 40%  del #site-main alla section.
    card-container è il 100% del 40% (40vw della section) di 100vw (#site-main)
    perciò facendo 40vw (larghezza del card-container) diviso 3 (numero di card) - 32px (gap) vado ad avere la stessa dimensione da tutti i lati con il justify space between
    mi sono reso conto di quanto era incasinato e ho optato per una misura fissa delle card
    */
    padding: 20px;
}

.card-top,
.card-mid,
.card-bot {
    width: 100%;

    & .button {
        width: 100%;
        height: 50px;
    }
}

.plan-details-container .plan-details-container>h4 {
    font-size: 100%;
    margin-bottom: 5px;
}

.category {
    text-align: center;
}

.line-break-card-top {
    border-bottom: 1px solid var(--light-color);
    margin: 20px 0;
    width: 100%;
}


.plan-details-container {
    margin-right: 80px;
}



.plan-price {
    font-weight: bold;
    height: 20px;

}

.plan-price-contact {
    margin-bottom: -20px;
}


.info {
    list-style: none;
}

.info>hr {
    width: 10%;
    margin: 10px 0;
}


.benefit {
    font-weight: bold;
}

.fa-check {
    color: var(--button-color);
}

/*enterprise*/

.enterprise-container {
    border: 1px solid var(--light-color);


}

.enterprise-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enterprise-container>p {
    padding: 20px 10px;
}

.enterprise-container>.enterprise-logo {
    text-align: center;
    border-bottom: 1px solid var(--light-color);
}

/*Partner*/

.partner-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.partner-section-container-left {
    width: 60%;
}

.partner-section-container-left>img {
    width: 100%;
}

.partner-section-container-right {

    display: flex;
    flex-direction: column;
    width: 40%;

}

.partner-section-container-right>h3 {
    font-size: 1.5rem;
}

.partner-button {
    width: 50%;
    background-color: var(--lighter-color);
    margin: 25px 0;
}

/*Dropbox Business*/
.dropbox-business-section-container>h2 {
    font-size: 2rem;
    padding-bottom: 30px;
}

.main-container {
    flex-wrap: wrap;
}

.top-bottom {
    flex-direction: column;
    padding-bottom: 25px;
    width: calc(100%/3);

}

.db-card img {
    width: 100%;
}

.db-top-container {
    width: 100%;

}

/*Dropbox Business info*/
.dropbox-business-info-section>h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

/*Logos*/

/*#region logos-background-color*/
.designit {
    background-color: var(--logo-designit);
}

.asu {
    background-color: var(--logo-asu);
}

.uf {
    background-color: var(--logo-uf);
}

.topps {
    background-color: var(--logo-topps);
}

.wbr {
    background-color: var(--logo-wbr);
}

.hearst {
    background-color: var(--logo-hearst);
}

.lp {
    background-color: var(--logo-lonely-planet);
}

.cco {
    background-color: var(--logo-cco);
}

/*#endregion logos-background-color*/

.logo-section {
    background-color: var(--large-logo-designit);
    height: 100%;
    flex-wrap: wrap;
}

.logo-container-left,
.logo-container-right {
    flex-wrap: wrap;

}

.logo {
    width: 250px;
    height: 250px;
    /*Altezza fissa visionata dal terminale per rendere tutto il più proporzionale possibile*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    /*svg change color RULE*/
    width: 50%;
    filter: invert(99%) sepia(9%) saturate(2%) hue-rotate(210deg) brightness(114%) contrast(100%);
}

.logo-container-mid {
    background-color: var(--large-logo-designit);
    padding: 30px;
    flex-direction: column;
}

.logo-container-mid div>img {
    width: 250px;
}

.logo-container-mid>p {
    margin-bottom: 30px;
}

.line-break-logo-container-mid {
    width: 100px;
    border: 1px solid gray;
    margin: 30px 0;
}

/*db-trial*/

.dropbox-business-trial-section {
    background-color: var(--background-trial);
}

.db-trial {
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 1rem;
}

.db-trial-title {
    width: 60%;
    font-size: 1.5rem;
    color: var(--dropbox-business);
}

.db-button {
    border: 0;
    width: 40%;
}

/*FAQ*/
.faq-section>h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 50px;

}

.faq-container {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.faq-row {
    width: 100%;
    border-top: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
    padding: 30px 0;
    font-weight: bold;
    justify-content: space-between;

}

.question {
    flex-grow: 1;
    font-size: 0.8rem;
}

/*#endregion Main*/
/*#region Footer*/
/*#endregion Footer*/